<ion-header>
  <ion-toolbar>
    <ion-title>{{ biblioteca.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-margin-bottom">
      <ion-col size="12">
        <h2>{{ biblioteca.name }}</h2>
        <h6>{{ biblioteca.address }}</h6>
        <p *ngIf="biblioteca.open" class="text-muted">{{ biblioteca.openStatement + " " + biblioteca.openDays }}</p>
        <ion-button expand="block" fill="outline" (click)="goToBibiloteca()">
          Voltar à Biblioteca
        </ion-button>
        <h5 class="ion-margin-top">O resultado da sua pesquisa:</h5>
      </ion-col>
    </ion-row>

    <!-- Início da lista de livros -->
    <ion-row>
      <ion-col size="12" size-md="3" *ngFor="let livro of getLivoPesquisado()">
        <ion-card class="custom-card">
          <ion-img [src]="getImg(livro, 1)" alt="Capa do livro" class="card-img-top"></ion-img>
          <ion-card-content>
            <h5 class="card-title">{{ livro.title }}</h5>
            <p class="card-text" style="text-decoration: underline; font-style: italic;">{{ "Isbn: " + livro.isbn }}</p>
            <p class="card-text">{{ livro.byStatement }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- Fim da lista de livros -->

    <!-- Coluna lateral com seleção de biblioteca -->
    <ion-row>
      <ion-col size="12">
        <app-seleciona-biblioteca (updateBibioteca)="getBiblioId($event)"></app-seleciona-biblioteca>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
