<ion-header>
  <ion-toolbar>
    <ion-title>Bibliotecas disponíveis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-padding">
      <ion-col size="12" size-md="8" size-lg="6" class="ion-text-center">
        <h1 class="fw-light">Bibliotecas disponíveis</h1>
        <p class="lead text-muted">Selecione a biblioteca que deseja usar.</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let bibio of libraries">
        <ion-card>
          <ion-card-content>
            <h2>{{bibio.name | uppercase}}</h2>
            <p>{{bibio.address}}</p>
            <p>{{bibio.openDays}}</p>
            <p class="text-muted">Aberta das {{bibio.openTime}} até {{bibio.closeTime}}.</p>
            <ion-item lines="none">
              <ion-button *ngIf="bibio.open" (click)="goToBibiloteca(bibio.id)" expand="block" fill="outline">
                Selecionar
                <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
              </ion-button>
              <ion-button *ngIf="!bibio.open" expand="block" fill="outline" disabled>
                Selecionar
              </ion-button>
              <ion-note slot="end" color="medium">{{ bibio.open ? 'Aberta' : 'Fechada' }}</ion-note>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col

