<ion-header>
  <ion-toolbar>
    <ion-title>{{ biblioteca.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-margin-bottom">
      <ion-col size="12">
        <h1>{{ biblioteca.name }}</h1>
        <h6>{{ biblioteca.address }}</h6>
        <p *ngIf="biblioteca.open" class="text-muted">{{ biblioteca.openStatement + " " + biblioteca.openDays }}</p>
        <p *ngIf="biblioteca.open" class="text-muted">Estado aberta</p>
        <p *ngIf="!biblioteca.open" class="text-muted">Estado fechada</p>
        <ion-button *ngIf="biblioteca.open" expand="block" fill="outline" (click)="goToRequisitarLivro()">Livros requisitados</ion-button>
        <ion-button expand="block" fill="outline" (click)="goToAdicionarLivro()" class="ion-margin-start">Adicionar Livro</ion-button>
        <ion-button expand="block" fill="outline" (click)="goToEmprestimoLivroDevolvidos()">Livros por devolver</ion-button>
        <ion-button expand="block" fill="outline" (click)="goToEmprestimoLivroHistorico()" class="ion-margin-start">Livros devolvidos</ion-button>
        <ion-item lines="none" class="ion-margin-top">
          <ion-input
            #box
            type="text"
            placeholder="Digite sua pesquisa"
            [(ngModel)]="boxValue"
            (ngModelChange)="onInputChange(boxValue)"
            (keyup.enter)="onEnter(boxValue)"
          ></ion-input>
          <p>{{ erroPesquisa }}</p>
        </ion-item>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="12" size-md="4" *ngFor="let livro of filteredLivros">
        <ion-card>
          <ion-card-content class="ion-text-center">
            <div class="italico">
              <p *ngIf="livro.stock !== 0" class="text-muted" style="font-weight: bold;">Em stock: {{ livro.stock }}</p>
              <p *ngIf="livro.stock === 0" class="text-muted">Fora de stock</p>
            </div>
            <div style="height: 100px;">
              <h3>{{ "Título: " + livro.book.title }}</h3>
            </div>
            <img [src]="getImg(livro.book, 1)" alt="Capa do livro" class="img-thumbnail" style="height: 280px;">
            <p>{{ livro.book.byStatement }} publicado em {{livro.book.publishDate}}</p>
            <ion-button expand="block" fill="outline" (click)="goToDetalhes(livro.book.isbn)">Detalhes do livro</ion-button>
            <!--<ion-button expand="block" fill="outline" (click)="getRequisitarLivro(livro.book.isbn)">Requisitar livro</ion-button>-->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="12">
        <app-seleciona-biblioteca (updateBibioteca)="getBiblioId($event)"></app-seleciona-biblioteca>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
