<ion-header>
  <ion-toolbar>
    <ion-title>{{ biblioteca.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-margin-bottom">
      <ion-col size="12" size-md="9">
        <h2>{{ biblioteca.name }}</h2>
        <h6>{{ biblioteca.address }}</h6>
        <p *ngIf="biblioteca.open" class="text-muted">{{ biblioteca.openStatement + " " + biblioteca.openDays }}</p>
        <ion-button expand="block" fill="outline" (click)="goToBibiloteca()">
          <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
          Voltar à Biblioteca
        </ion-button>
        <ion-item>
          <ion-input type="text" [(ngModel)]="selectedUser" placeholder="Digite seu nome"></ion-input>
          <datalist id="userOptions">
            <option *ngFor="let option of options" [value]="option.label">{{ option.label }}</option>
          </datalist>
        </ion-item>
        <ion-button expand="block" (click)="initUserCheckout(userId); updateUser()" class="ion-margin-top">Guardar dados</ion-button>

        <h4 style="margin-top: 80px;">{{ "Título: " + livro.title }}</h4>
        <p>{{ livro.byStatement }}</p>
        <ion-img [src]="getImg(livro, 2)" alt="Capa do livro" class="img-thumbnail"></ion-img>
        <p style="text-decoration: underline; font-style: italic;">{{ "Isbn: " + livro.isbn }}</p>
        <p>{{ livro.description }}</p>
        <p>Número de páginas {{ livro.numberOfPages }}</p>
        <ion-list>
          <ion-item *ngFor="let authors of livro.authors">
            <ion-label>
              <p>{{ "Autor: " + authors.name }}</p>
              <p>Date de nascimento: {{ authors.birthDate | date }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
        <p>Publicado em {{ livro.publishDate | date }}</p>
        <div *ngFor="let livros of livros">
          <div *ngIf="livros.isbn == livro.isbn">
            <p *ngIf="livros.stock != 0" class="text-muted">Em stock: {{ livros.stock }}</p>
            <p *ngIf="livros.stock == 0" class="text-muted">Fora de stock</p>
          </div>
        </div>
        <ion-button expand="block" fill="outline" (click)="goToConfirmarEmprestimo()">Confirmar empréstimo</ion-button>
      </ion-col>
      
      <!-- Coluna lateral com seleção de biblioteca -->
      <ion-col size="12" size-md="3">
        <seleciona-biblioteca (updateBibioteca)="getBiblioId($event)"></seleciona-biblioteca>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
