<ion-header>
  <ion-toolbar>
    <ion-title>{{ biblioteca.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-margin-bottom">
      <ion-col size="12" size-md="9">
        <h2>{{ biblioteca.name }}</h2>
        <h6>{{ biblioteca.address }}</h6>
        <p *ngIf="biblioteca.open" class="text-muted">{{ biblioteca.openStatement + " " + biblioteca.openDays }}</p>
        <ion-button expand="block" fill="outline" (click)="goToBibiloteca()">
          <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
          Voltar à Biblioteca
        </ion-button>
        <p>{{ biblioteca.name }}</p>
        <h5>Livro emprestado: {{ livro.title }}</h5>
        <ion-img [src]="getImg(livro, 1)" alt="Capa do livro" class="img-thumbnail"></ion-img>
      </ion-col>
      
      <!-- Coluna lateral com seleção de biblioteca -->
      <ion-col size="12" size-md="3">
        <seleciona-biblioteca (updateBibioteca)="getBiblioId($event)"></seleciona-biblioteca>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

